[
  { mondemand_server,
    [
      % LWES address and port to listen on, if UDP use address "0.0.0.0"
      { listener, {"0.0.0.0",20502} },

      % dispatch list, each event listed is sent to the list of modules
      { dispatch,
        [
          % catch all, all events are sent to this one unless it's empty
          { "*",                   [ mondemand_backend_all_journaller ] },
          { "MonDemand::StatsMsg", [ mondemand_backend_stats_file,
                                     mondemand_backend_lwes ] },
          { "MonDemand::LogMsg",   [ mondemand_backend_log_file,
                                     mondemand_backend_lwes ] },
          { "MonDemand::TraceMsg", [ mondemand_backend_trace_file ] }
        ]
      },

      % config for web server
      { web,
        [ { ip, "0.0.0.0" }, % bind to all interfaces
          { port, 20602 },   % port to bind on
          { log_dir, "/tmp/data/httpd/logs" },
          { dispatch,
            [
              {["tools", '*'],
                mondemand_server_fs_resource, [ {root, "priv/www" } ] },
              {["data", '*'],
                mondemand_server_fs_resource, [ {root, "tmp/data"} ] },
              {["tcp"],
                mondemand_http_resource, [] }
            ]
          }
        ]
      },

      % config for particular modules
      { mondemand_backend_all_journaller,
        [
          % the directory to store journals
          { root, [ "tmp","data","journals"] },
          % the prefix for journals
          { name, "all_events" },
          % the interval to rotate journal files
          { interval, 3600 }
        ]
      },
      { mondemand_backend_stats_file,
        [
          % the directory to store stats
          { root, [ "tmp","data","stats","raw"] }
        ]
      },
      { mondemand_backend_lwes,
        [
          {lwes, {"127.0.0.1",50205}}
        ]
      },
      { mondemand_backend_log_file,
        [
          % the directory to store logs
          { root, ["tmp","data","log"]}
        ]
      },
      { mondemand_backend_trace_file,
        [
          % these fields are looked up in the trace event and added to
          % the filename separated by "-"s
          { extra_fields, [ <<"queasy.service">>, <<"queasy.type">> ] },

          % the directory to store traces
          { root, [ "tmp","data","trace"] },

          { dispatch,
            [
              { ["trace", owner, id, file],
                mondemand_backend_trace_resource,
                [ {root, "tmp/data" } ]
              },
              { ["trace", owner, id],
                mondemand_backend_trace_resource,
                [ {root, "tmp/data" } ]
              },
              { ["trace", owner],
                mondemand_backend_trace_resource,
                [ {root, "tmp/data" } ]
              },
              { ["trace"],
                mondemand_backend_trace_resource,
                [ {root, "tmp/data" } ]
              }
            ]
          }
        ]
      }
    ]
  }
].
