{erl_opts, [debug_info]}.
{lib_dirs, ["deps"]}.
{clean_files, ["ebin", "doc"]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{deps,
    [
      { lwes,
        "2.4.0",
        {git, "git://github.com/lwes/lwes-erlang.git", {tag, "2.4.0"} }
      },
      { webmachine,
        "1.10.5.1",
        {git, "git://github.com/mondemand/webmachine.git", {tag, "1.10.5.1"} }
      },
      { parse_trans,
        "2.8",
        {git, "git://github.com/uwiger/parse_trans.git", {tag, "2.8"} }
      }
    ]
}.
