{erl_opts, [debug_info]}.
{lib_dirs, ["deps"]}.
{clean_files, ["ebin", "doc"]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{deps,
    [
      { lwes,
        "2.3.0",
        {git, "git://github.com/lwes/lwes-erlang.git", {tag, "2.3.0"} }
      },
      { webmachine,
        "1.10.5",
        {git, "git://github.com/basho/webmachine.git", {tag, "1.10.5"} }
      }
    ]
}.
