[
  { mondemand_server,
    [
      % LWES address and port to listen on, if UDP use address "0.0.0.0"
      { listener, {"0.0.0.0",20602} },
%      { listener, [{"0.0.0.0", 20502}, {"224.1.1.11", 22522}]},

      % dispatch list, each event listed is sent to the list of modules
      { dispatch,
        [
          % catch all, all events are sent to this one unless it's empty
          { "*",                   [ mondemand_backend_sink ] }
        ]
      },

      % config for web server
      { web,
        [ { ip, "0.0.0.0" }, % bind to all interfaces
          { port, 20602 },   % port to bind on
          { log_dir, "/tmp/data/httpd/logs" },
          { dispatch,
            [
              {["tools", '*'],
                mondemand_server_fs_resource, [ {root, "priv/www" } ] },
              {["data", '*'],
                mondemand_server_fs_resource, [ {root, "tmp/data"} ] },
              {["tcp"],
                mondemand_http_resource, [] }
            ]
          }
        ]
      },

      { mondemand_backend_sink,
        [
          {worker_mod, mondemand_backend_sink}
        ]
      }
    ]
  },
  { mondemand, [ { lwes_channel, { "127.0.0.1", 20602 } },
                 % don't send stats to ourselves the server will redispatch
                 % them for us
                 { send_interval, 0 }
               ]
  }
].
