[
  { mondemand_server,
    [
      % LWES address and port to listen on, if UDP use address "0.0.0.0"
      { listener, {"0.0.0.0",22522} },

      % dispatch list, each event listed is sent to the list of modules
      { dispatch,
        [
          % catch all, all events are sent to this one unless it's empty
          { "*",                   [ mondemand_backend_lwes ] },
          { "MonDemand::StatsMsg", [ mondemand_backend_stats_file,
                                     mondemand_backend_stats_aggregator,
                                     mondemand_backend_lwes_global
                                   ] },
          { "MonDemand::LogMsg",   [ ] },
          { "MonDemand::TraceMsg", [ ] }
        ]
      },
      % config for web server
      { web,
        [ { ip, "0.0.0.0" }, % bind to all interfaces
          { port, 22622 },   % port to bind on
          { log_dir, "tmp/data/httpd/logs" },
          { dispatch,
            [
              {["tools", '*'],
                mondemand_server_fs_resource, [ {root, "priv/www" } ] },
              {["data", '*'],
                mondemand_server_fs_resource, [ {root, "tmp/data"} ] },
              {["tcp"],
                mondemand_http_resource, [] }
            ]
          }
        ]
      },
      { mondemand_backend_stats_aggregator,
        [
          {worker_mod, mondemand_backend_stats_aggregator}
        ]
      },
      { mondemand_backend_lwes_global,
        [
          {worker_mod, mondemand_backend_lwes_global},
          {lwes, {1, [{"127.0.0.1",26562}]} },
          {extra_context, [ {cluster, colo2} ]}
        ]
      },
      { mondemand_backend_lwes,
        [
          {lwes, {1, [{"127.0.0.1",36563}]} }
        ]
      },
      { mondemand_backend_stats_file,
        [
          % the directory to store stats
          { root, [ "tmp","data","stats","raw_colo2"] }
        ]
      }
    ]
  },
  { erlrrd, [ ] },
  { mondemand, [
      { send_interval, 0 },
      { lwes_channel, { "127.0.0.1", 22522 } },
      { sender_host, "colo2.host" }
    ]
  },
  { lager,
    [
      { crash_log_count, 5 },
      { crash_log_date, "$D0" },
      { crash_log_size, 104857600 }, % 100 MB
      { crash_log_msg_size, 65536 },
      { crash_log, "tmp/logs/colo2/crash.log" },
      { handlers,
        [
          { lager_file_backend,
            [
              { file, "tmp/logs/colo2/error.log"},
              { level, error },
              { size, 10485760 },
              { date, "$D0"},
              { count, 5 }
            ]
          },
          { lager_file_backend,
            [
              { file, "tmp/logs/colo2/console.log"},
              { level, info },
              { size, 10485760 },
              { date, "$D0"},
              { count, 5 }
            ]
          }
        ]
      },
      { error_logger_redirect, true }
    ]
  }
].
