[
  { mondemand_server,
    [
      % LWES address and port to listen on, if UDP use address "0.0.0.0"
      { listener, {"0.0.0.0",21512} },

      % dispatch list, each event listed is sent to the list of modules
      { dispatch,
        [
          % catch all, all events are sent to this one unless it's empty
          { "*",                   [ ] },
          { "MonDemand::StatsMsg", [ 
                                     mondemand_backend_stats_aggregator,
                                     mondemand_backend_print,
                                     mondemand_backend_stats_file,
                                     mondemand_backend_lwes_global,
                                     mondemand_backend_lwes
                                   ] },
          { "MonDemand::LogMsg",   [ ] },
          { "MonDemand::TraceMsg", [ ] }
        ]
      },
      % config for web server
      { web,
        [ { ip, "0.0.0.0" }, % bind to all interfaces
          { port, 21612 },   % port to bind on
          { log_dir, "tmp/data/colo1/httpd/logs" },
          { dispatch,
            [
              {["tools", '*'],
                mondemand_server_fs_resource, [ {root, "priv/www" } ] },
              {["data", '*'],
                mondemand_server_fs_resource, [ {root, "tmp/data/colo1"} ] },
              {["tcp"],
                mondemand_http_resource, [] }
            ]
          }
        ]
      },
      { mondemand_backend_print,
        [
          {worker_mod, mondemand_backend_print}
        ]
      },
      { mondemand_backend_stats_aggregator,
        [
          {worker_mod, mondemand_backend_stats_aggregator}
        ]
      },
      { mondemand_backend_lwes_global,
        [
          {worker_mod, mondemand_backend_lwes_worker},
          {filter_function, {mondemand_backend_lwes_global, filter}},
          {mondemand_filtered_key, mondemand_backend_lwes_global},
          {lwes, {1, [{"127.0.0.1",26562}]} },
          {extra_context, [ {cluster, colo1} ]}
        ]
      },
      { mondemand_backend_lwes,
        [
          {worker_mod, mondemand_backend_lwes_worker},
          {lwes, {1, [{"127.0.0.1",36563}]} },
          {include_headers, true},
          {pass_raw_data, true}
        ]
      },
      { mondemand_backend_stats_file,
        [
          % the directory to store stats
          { root, [ "tmp","data","colo1","stats" ] }
        ]
      }
    ]
  },
  { erlrrd, [ ] },
  { mondemand, [
%      { send_interval, 0 },
      { vmstats, [ { program_id, mondemand_erlang }
%                 , {disable_scheduler_wall_time, true }
                 ] },
%      { lwes_channel, { "127.0.0.1", 22522 } },
      { lwes_channel, { "127.0.0.1", 26562 }},
      { sender_host, "colo1.host" }
    ]
  },
  { lager,
    [
      { crash_log_count, 5 },
      { crash_log_date, "$D0" },
      { crash_log_size, 104857600 }, % 100 MB
      { crash_log_msg_size, 65536 },
      { crash_log, "tmp/data/logs/colo1/crash.log" },
      { handlers,
        [
          { lager_file_backend,
            [
              { file, "tmp/data/logs/colo1/error.log"},
              { level, error },
              { size, 10485760 },
              { date, "$D0"},
              { count, 5 }
            ]
          },
          { lager_file_backend,
            [
              { file, "tmp/data/logs/colo1/console.log"},
              { level, info },
              { size, 10485760 },
              { date, "$D0"},
              { count, 5 }
            ]
          }
        ]
      },
      { error_logger_redirect, true }
    ]
  }
].
