[
  { mondemand_server,
    [
      % LWES address and port to listen on, if UDP use address "0.0.0.0"
      { listener, {"0.0.0.0",20502} },

      % dispatch list, each event listed is sent to the list of modules
      { dispatch,
        [
          % catch all, all events are sent to this one unless it's empty
          { "*",                   [ mondemand_backend_all_journaller ] },
          { "MonDemand::StatsMsg", [ mondemand_backend_stats_file ] },
          { "MonDemand::LogMsg",   [ mondemand_backend_log_file ] },
          { "MonDemand::TraceMsg", [ mondemand_backend_trace_file ] }
        ]
      },

      % config for particular modules
      { mondemand_backend_all_journaller,
        [
          % the directory to store journals
          { root, ["/", "tmp","data","journals"] },
          % the prefix for journals
          { name, "all_events" },
          % the interval to rotate journal files
          { interval, 60 }
        ]
      },
      { mondemand_backend_stats_file,
        [
          % the directory to store stats
          { root, ["/", "tmp","data","stats","raw"] }
        ]
      },
      { mondemand_backend_log_file,
        [
          % the directory to store logs
          { root, ["/", "tmp","data","log"]}
        ]
      },
      { mondemand_backend_trace_file,
        [
          % these fields are looked up in the trace event and added to
          % the filename separated by "-"s
          { extra_fields, [ ] },

          % the directory to store traces
          { root, ["/", "tmp","data","trace"] }
        ]
      }
    ]
  }
].
