[
  { mondemand_server,
    [
      % LWES address and port to listen on, if UDP use address "0.0.0.0"
      { listener, {"0.0.0.0",20402} },

      % dispatch list, each event listed is sent to the list of modules
      { dispatch,
        [
          % catch all, all events are sent to this one unless it's empty
          { "*",                   [ mondemand_journaller ] },
          { "MonDemand::StatsMsg", [ mondemand_stats_rrd,
                                     mondemand_stats_raw
                                   ] },
          { "MonDemand::LogMsg",   [ mondemand_log ] },
          { "MonDemand::TraceMsg", [ mondemand_trace ] }
        ]
      },

      % config for particular modules
      { mondemand_journaller,
        [
          { root, ["/", "tmp","data","journals"] },
          { name, "all_events" },
          { interval, 60 }
        ]
      },
      { mondemand_stats_rrd,
        [
          { context_delimiter, "-" },
          { root, ["/", "tmp","data","stats","rrd"] }
        ]
      },
      { mondemand_stats_raw,
        [
          { root, ["/", "tmp","data","stats","raw"] }
        ]
      },
      { mondemand_log,
        [
          { root, ["/", "tmp","data","log"]}
        ]
      },
      { mondemand_trace,
        [
          { couch, {"localhost", 5984, "admin", "pAssw0rd"} }
        ]
      }
    ]
  },
  {
    erlrrd,
    [
      { cache,
        [
          { write_timeout, 3600 },
          { flush_timeout, 7200 },
          { root_dir, [ "/", "tmp" ] }
        ]
      }
    ]
  }
].
